<div class="d-flex justify-content-center align-items-center">
    <img class="img-fluid mt-4 logoSnS" src="{{ pageData.logoSnS }}">
    <svg class="img-fluid mx-4 mt-4 cross" id="i-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5">
        <path d="M2 30 L30 2 M30 30 L2 2" />
    </svg>
    <img class="img-fluid mt-4 logoANTO" src="{{ pageData.logoANTO }}">          
</div>
    <div>
    <img class="img-fluid banner" src="{{ pageData.bannerImage }}" alt="">
</div>



